<!-- Striped rows -->
    <div class="col-12 mx-auto">
      <div class="card">
        <div class="card-header">
            <h4 class="card-title"><a href="{{ url }}">{{ name }}</a></h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <div class="list-group">
                  {% for obj in data %}
                    <a href="{{ route('admin_single_id', url=panel.url, id=obj.id) }}" class="list-group-item list-group-item-action {{ 'active' if obj.id == data[0].id else ''}}">
                     <!-- <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1 text-white">List group item heading</h5>
                          <small>3 days ago</small>
                      </div> -->
                      <p class="mb-1">
                          {{ obj | string }}
                      </p>
                    </a>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
  </div> <!-- Striped rows -->
